default:
  calls:
    error_reporting: 16383 # E_ALL & ~E_USER_DREPRECATED
  suites:
    default:
      contexts:
        - FeatureContext: { doctrine: "@doctrine" }
        - EntityContext: { doctrine: "@doctrine" }
        - SecurityContext: { jwtEncoder: "@lexik_jwt_authentication.encoder" }
        - JsonContext
        - Behat\MinkExtension\Context\MinkContext
        - Behatch\Context\RestContext
  extensions:
    Behat\Symfony2Extension:
      kernel:
        bootstrap: "features/bootstrap/bootstrap.php"
        class: "App\\Kernel"
    Behat\MinkExtension:
      base_url: "http://localhost/"
      sessions:
        default:
          symfony2: ~
    Behatch\Extension: ~
